.dark .ts-wrapper {
    background-color: #1f2937; /* bg-gray-800 */
    color: #fff;
    border-color: #4b5563; /* border-gray-600 */
  }
  .dark .ts-dropdown,
  .dark .ts-control {
    background-color: #1f2937;
    color: #fff;
  }
  .dark .ts-dropdown .active {
    background-color: #374151; /* bg-gray-700 */
  }
  .dark .ts-dropdown .option:hover {
    background-color: #4b5563;
  }
  .dark .ts-control input {
    color: #fff;
  }